# https://gist.github.com/DamnedScholar/622926bcd222eb1ddc483d12103fd315

scopeName: 'source.lexware'
name: 'Lexware'
fileTypes: [
  'lex'
  'lexware'
  'lw'
  ]
patterns: [
  {
    match: '^\\.[^.].*$'
    name: 'lev1'
  },
  {
    match: '^\\.\\.[^.].*$'
    name: 'lev2'
  }
  {
    match: '^\\.\\.\\.[^.].*$'
    name: 'lev3'
  }
  {
      match: '^(tag|gl)\\ .*$'
      name: 'tag'
  }
  {
      match: '^(ex|eng)\\ '
      name: 'exeng'
  }

]
